{% extends "base.html" %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>For every student,<br>every classroom</h1>
      <h2>Silent Math Genius menawarkan pelbagai peluang pembelajaran dalam talian percuma untuk menyokong pembelajaran Matematik pelajar sekolah menengah yang pekak-bisum dan kurang upaya pendengaran.</h2> 
      <a href="/login" class="btn-get-started">Klik Masuk</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Kenapa pilih Silent Math Genius</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
              </p>
              <div class="text-center">
                <a href="/login" class="more-btn">Selanjutnya <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-category"></i>
                    <h4>Pembelajaran bersepadu</h4>
                    <p>Pelajar berlatih mengikut tempo masing-masing, pertama mengisi kesenjangan dalam pemahaman mereka dan kemudian mempercepatkan pembelajaran mereka.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Kandungan dipercayai</h4>
                    <p>Dicipta oleh guru sekolah, perpustakaan latihan dan pelajaran Silent Math Genius merangkumi pelbagai topik matematik. Sentiasa percuma untuk pelajar.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-chart line"></i>
                    <h4>Alat bantu untuk memberdayakan guru</h4>
                    <p>Denganan Silent Math Genius, guru dapat mengenal pasti kesenjangan dalam pemahaman pelajar mereka, menyelaraskan pengajaran, dan memenuhi keperluan setiap pelajar.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->  
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Our Courses Section ======= -->
    <section id="courses" class="courses sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Kursus Kami</h2>
          <p>Silent Math Genius menyediakan pelbagai jenis kursus matematik untuk membantu pelajar memahami matematik dalam bidang yang berbeza</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="course-item  position-relative">
              <div class="icon">
                <i class="bi bi-clock"></i>
              </div>
              <h3> Cara Mambaca Jam dan Mengejanya</h3>
              <p>Kursus ini mencakup aspek-aspek seperti pengenalan terhadap sistem waktu, memahami notasi jam, dan latihan praktikal untuk meningkatkan kemahiran membaca jam.</p>
              <a href="/login" class="readmore stretched-link">Selanjutnya <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End course Item -->

          <div class="col-lg-4 col-md-6">
            <div class="course-item position-relative">
              <div class="icon">
                <i class="bi bi-rulers"></i>
              </div>
              <h3>Pengukuran Asas</h3>
              <p>Pengukuran asas merangkumi proses menentukan atau mencatat saiz, panjang, atau jumlah sesuatu menggunakan unit khusus.</p>
              <a href="/login" class="readmore stretched-link">Selanjutnya <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End course Item -->

          <div class="col-lg-4 col-md-6">
            <div class="course-item position-relative">
              <div class="icon">
                <i class="bi bi-cash-coin"></i>
              </div>
              <h3>Penggunaan Wang</h3>
              <p>Penggunaan wang merangkumi pelbagai aspek dalam kehidupan seharian, dan ia melibatkan pengurusan dan pertukaran sumber kewangan untuk memenuhi keperluan dan kehendak.</p>
              <a href="/login" class="readmore stretched-link">Selanjutnya <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End course Item -->

          <div class="col-lg-4 col-md-6">
            <div class="course-item position-relative">
              <div class="icon">
                <i class="bi bi-slash-square"></i>
              </div>
              <h3>Bahagi dan Darab</h3>
              <p>Bahagi dan darab merupakan konsep yang sering digunakan untuk menyelesaikan pelbagai masalah matematik dan kehidupan harian.</p>
              <a href="/login" class="readmore stretched-link">Selanjutnya <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End course Item -->

          <div class="col-lg-4 col-md-6">
            <div class="course-item position-relative">
              <div class="icon">
                <i class="bi bi-file-spreadsheet"></i>
              </div>
              <h3>Nilai Tempat Perpuluhan</h3>
              <p>Nilai tempat perpuluhan adalah nilai yang dimiliki oleh digit dalam tempat perpuluhan (sepuluh), atau kedudukan digit dalam suatu nombor.</p>
              <a href="/login" class="readmore stretched-link">Selanjutnya<i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End course Item -->

          <div class="col-lg-4 col-md-6">
            <div class="course-item position-relative">
              <div class="icon">
                <i class="bi bi-command"></i>
              </div>
              <h3>Matematik Pengguna</h3>
              <p>Matematik Pengguna termasuk bab 3 tingkatan 3, bab 4 tingkatan 4 dan bab 3 dan 4 tingkatan 5.</p>
              <a href="/login" class="readmore stretched-link">Selanjutnya <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Courses Item -->

        </div>

      </div>
    </section><!-- End Our courses Section -->


    <!-- ======= Testimonial Section ======= -->
    <section id="testimonial" class="testimonial">
      <div class="container" data-aos="fade-up">

        <div class="section-header h2">
          <p>"Bahan pembelajaran yang inklusif sangat membantu saya. Platform ini kelihatan memahami bahawa pelajar berbeza mempunyai keperluan yang berbeza, dan fleksibiliti yang diberikan untuk pembelajaran pada kadar sendiri sangat hebat."</p>
            <br>
          <div class="testimonial-author">
            <span class="author-name">Muhammad Ali</span>
            <img src="static/img/testimonials/testimonials-6.png" alt="Profile Picture">
          </div>
        </div>

      </div>
    </section><!-- End Testimonial Section -->

    <!-- ======= Learner Section ======= -->
    <section id="learner" class="learner">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h2>PELAJAR ATAU PEMBELAJAR </h2>
              <h3><strong>You can learn anything.</strong></h3>
              <p>
                Bangunkan pemahaman yang mendalam dan kukuh dalam matematik
              </p>
            </div>
          </div>
          <div class="col-lg-8 pr-lg-2">
            <div class="d-flex justify-content-end">
              <img src="/static/img/learner-bg.jpg" alt="Image Description" class="img-fluid" style="max-width: 90%; height: auto;">
            </div>
          </div>
          <div class="text-center">
            <a href="/login" class="more-btn">Bermula Dari Sini</a>
          </div>
      </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Hubungi kami jika anda menghadapi sebarang masalah atau memerlukan bantuan</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Kampung Sungai Putat, 75350 Malacca</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>specialed.smktunmutahir@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+06 3174376</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Sat: 8AM - 5PM</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Hantar Mesej </button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->
       

  </main><!-- End #main -->

  
{% endblock %}