{% extends "teacher_base.html" %}
{% block content %}

<section class="main">
    <div class="main-top">
        <h1>Student Profile</h1>
        <i class="fas fa-user-cog"></i>
    </div>
    <div class="users">
        {% for user in users %}
        {% if user.role == 'user' %}
        <div class="card">
            <img src="static/img/avatar-1.png">
            <h4>{{ user.username }}</h4>
            <p>ID: {{ user.id }}</p>
            <p>EMAIL: {{ user.email }}</p>
            <p>YEAR: {{ user.year }}</p>
            <p>PHONE: {{ user.phone }}</p>
            <p>BIO: {{ user.bio }}</pp>
            <p>ADDRESS: {{ user.address }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
